global
    log stdout format raw local0
    maxconn 4096

defaults
    mode tcp
    timeout connect 10s
    timeout client 1h
    timeout server 1h

backend whatsapp
    server wa1 g.whatsapp.net:443
